#contact {
  background-image: linear-gradient(to bottom left, #e17065, #fbc079, #fde8a5);
}

.form-group {
  padding: 20px;
  margin-bottom: 10px !important;
}

.submit {
  margin: 0 auto;
  padding: 20px;
}