

#examples {
  background-color: rgb(215, 157, 31);
  height: 100%;
  padding: 30px 20px;
 
}

#examples h4 {
  font-size: 2.5rem;
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.146;
  text-align: center;
  
}

#projects {
  margin: 50px auto;
  text-align: center;
  
}

#projects img {
  margin-bottom: 20px;
  height: 200px;
  width: auto;
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #d79d1f;
  overflow: hidden;
  width: 0;
  height: 270px;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.button {
  padding: 10px;
  font-size: 16px;
}
