.PORTFOLIO {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5100px;
  height: 7091px;
  z-index: 235;
}
.Group_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5100px;
  height: 7091px;
  z-index: 234;
}
.Rectangle_623_copy_3 {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 2051px;
  top: 1699px;
  width: 300px;
  height: 300px;
  z-index: 232;
}
.Rectangle_623_copy_3 {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 1750px;
  top: 1699px;
  width: 300px;
  height: 300px;
  z-index: 230;
}
.Rectangle_623_copy_3 {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 1449px;
  top: 1699px;
  width: 300px;
  height: 300px;
  z-index: 228;
}
.Rectangle_623_copy_2 {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 2051px;
  top: 1398px;
  width: 300px;
  height: 300px;
  z-index: 226;
}
.Rectangle_623_copy {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 1750px;
  top: 1398px;
  width: 300px;
  height: 300px;
  z-index: 224;
}
.Rectangle_623 {
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 1449px;
  top: 1398px;
  width: 300px;
  height: 300px;
  z-index: 222;
}
.RECENT_WORK {
  font-size: 48px;
  font-family: "Raleway";
  color: rgb(233, 233, 233);
  font-weight: bold;
  line-height: 1.146;
  text-align: center;
  position: absolute;
  left: 1550.924px;
  top: 1361.226px;
  width: 350px;
  height: 36px;
  z-index: 220;
}

#examples {
  background-color: rgb(215, 157, 31);
  height: 788px;
  padding: 30px 20px;
 
}

#examples h4 {
  font-size: 2.5rem;
  font-family: "Raleway", serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.146;
  text-align: center;
  
}

#projects {
  margin-top: 50px;
}

#projects img {
  margin-bottom: 20px;
  height: 200px;
  width: auto;
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #d79d1f;
  overflow: hidden;
  width: 0;
  height: 220px;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}