.jumbotron{
  background-image: url("../assets/yellowhero.png");
  background-size: cover;
  height: 100%;
  position: relative;
  margin-bottom: 0 !important;
}

.headings {
  text-align: center;
  font-family: "Raleway", serif;
  color: #fff;
  line-height: 1.833;
}

.headings:first-of-type{
  margin-top: 100px;
}

 .jumbotron h2 {
  font-size: 3rem;
  font-weight: 700;
}

 .jumbotron h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

#about {
  margin-top: 100px;
}

#about p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgb(66, 66, 66);
  line-height: 1.2;
  text-align: left;
  
}

#about h3 {
  font-family: "Roboto", sans-serif;
  color: #d79d1f;
  line-height: 1.2;
  text-align: center;
}

.Typewriter {
  font-size: 3.5rem;
  font-weight: 700;
  
}

@media only screen and (max-width: 600px) {
  #about h3 {
  
    color: #fff;
   
  }

  .jumbotron h2 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  #about p {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .Typewriter {
    font-size: 2rem;
    font-weight: 700;
  }
}



 
