.navbar {
  background-color:transparent;
  position: absolute !important;
  top: 0;

}

#logo {
  height: 50px;
  width: auto;
}
.nav-link {
  color: #fff !important;
}
.navbar a {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #424242;
  font-family: "Roboto", sans-serif;
}

h4:hover {
  cursor: pointer;
  
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: #424242;
}


a:hover {
  text-decoration: none !important;
  color: #f7f7f7 !important;
}

@media only screen and (max-width: 600px) {
  .nav {
    bottom: 0;
    left: 30px;
  }

  h4 {
    font-size: 16px !important;
  }
}