#portfolio { 
    background-image: linear-gradient(to top right, #e17065, #fbc079, #fde8a5);
    /* height: 100vh; */
    /* position: absolute;
    left: 0px;
    top: 1338px;
    width: 1200px;
    height: 721px;
    z-index: 162; */
    padding: 30px;
  
}

