.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /* position: absolute; */
  border: none;
  /* bottom: 30%; */
  color: #f4b46b;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
  margin: 10px auto;
}

.back {
  /* top: 50%;
  left: 10%; */
  background: #f7f7f7;
}

.back::after {
  content: "\f053";
}

.next {
  /* top: 50%;
  right: 10%; */
  background: #f7f7f7;
}

.next::after {
  content: "\f054";
}

.next:hover::after,
.back:hover::after {
  animation: iconBounce 0.57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }

  50% {
    font-size: 28px;
  }

  100% {
    font-size: 24px;
  }
}

/* @media only screen and (max-width: 600px) {
  .back {
    bottom: 40px;
    left: 0;
    background: #f7f7f7;
  }

  .next {
    bottom: 0;
    right: 0;
    background: #f7f7f7;
  }
} */
